@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-lighter: #424450;
  --color-light: #343746;
  --color-base: #282a36;
  --color-dark: #21222c;
  --color-darker: #191A21;
  --color-gray: #424450;
  --color-light-gray: #5d6574;
  --color-selection: #44475a;
  --color-comment: #6272a4;
  --color-white: #f8f8f2;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
}

@layer base {
  * {
    font-family: "Proxima Nova Regular";
  }

  body {
    @apply bg-base text-comment;
  }
}
